@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
/* variables css */

:root {
    --font-family: 'Open Sans', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 800;
    --bg-nav-color: #E29128;
    --primary-color: #524b4b;
    --secondary-color: #ececec;
    --primary-shadow: #e69f08;
    --secondary-shadow: #ffce00;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--secondary-color);
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2.5rem;
    margin-inline-end: 2.5rem;
}

cite {
    font-style: italic;
    color: var(--secondary-color);
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.button {
    width: 8.75rem;
    height: 3.125rem;
    border-width: 1px;
    border-color: #566963;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: #768d87;
    padding: 0.5rem 0.5rem;
}

.button:hover {
    background: #6c7c7c;
}

a {
    text-decoration: none;
    color: #f3f3f9;
}


body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-nav-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #060458;
}

nav a {
    color: var(--secondary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    flex-wrap: wrap;
}

.hero img {
    height: 40rem;
    width: 40rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
    color: var(--secondary-color);
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.bio p {
    color: var(--secondary-color);
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--primary-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 1.25rem;
    margin: 0.625rem;
}

.projects {
    padding: 32px 0;
    margin-top: 2rem;

}

.projects-title,
.hobbies-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 28rem;
    padding: 1rem;
    justify-self: center;
}

.project-container h3 {
    color: var(--primary-color);
}

.project-container p {
    padding: 0.4rem;
    color: var(--primary-color);
    text-align: left;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-card a {
    color: #0000FF;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-pic {
    width: 25rem;
    height: 18.75rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--secondary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 0.875rem;
}

.contact-form-container .input-field {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--secondary-shadow);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    color: var(--primary-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    box-shadow: 0 4px 16px 0 var(--primary-shadow);
    width: 100%;
}

.submit-btn:hover {
    background-color: var(--primary-shadow);
    color: #1D1B1B;
    cursor: pointer;
}

.submit-btn:active {
    transform: translateY(5px);
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2.5rem;
    height: 2.5rem;
}

footer {
    background-color: var(--bg-nav-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

footer p, footer a {
    color: var(--primary-color);
}

footer a:hover {
    text-decoration: underline;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3.5rem;
    height: 3.5rem;
}

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav h1 {
        font-size: 1.4rem;
    }


    nav ul {
        position: fixed;
        background-color: var(--bg-nav-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        border-radius: 20px;
        padding: 10px 0;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: 1.5rem;
    }

    .hero img {
        height: 25rem;
        width: 25rem;
    }

    .more-about {
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    }

    .icon {
        width: 5.875rem;
        height: 5.95rem;
    }

    .contact-form-container {
        max-width: 14.75rem;
    }

}

@media  screen and (min-width:721px) and (max-width:1439px) {
    nav h1 {
        font-size: larger;
    }

    nav ul {
        flex-wrap: wrap;
    justify-content: center;
    }
}